/*----------------------------------------------------
 * Globals
 *---------------------------------------------------- */
/*----------------------------------------------------
 * Mixins
 *---------------------------------------------------- */
/*----------------------------------------------------
 * Header
 *---------------------------------------------------- */
.container_header {
  #background: -moz-linear-gradient(center bottom, #005289 0pt, #242562 75%) repeat scroll 0 0 transparent;
  height: 80px; }

.header {
  padding: 0px 0px 0px 10px;
  width: 960px; }

.logo {
  margin: 0 0 0 10px;
  padding: 0 0 0 345px; }

.tag_line {
  font-size: 18px;
  color: #777777;
  font-style: italic;
  margin: -28px 0px 0px 16px;
  padding: 0 0 0 278px;
  width: 960px;
  display: block; }

/*----------------------------------------------------
 * Index
 *---------------------------------------------------- */
.container {
  width: 960px;
  background-color: white;
  height: auto !important;
  #margin: 0 auto -18em;
  min-height: 100%; }

.statement h1 {
  font-family: "minion-pro-1", "minion-pro-2", "Times New Roman", Georgia, serif;
  font-size: 56px;
  font-weight: normal;
  letter-spacing: -1px;
  margin-bottom: 0;
  margin-top: 30px;
  text-align: center; }

.explanation {
  padding: 30px 0px 10px 35px;
  width: 960px;
  height: 205px; }

.column {
  float: left;
  margin-right: 40px;
  width: 270px; }
  .column h3 {
    color: #cccccc;
    float: left;
    font-size: 58px;
    font-weight: 500;
    line-height: normal;
    margin: 5px 7px 0 0; }
  .column h4 {
    color: #cc0000;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    font-size: 16px;
    margin: 5px 0; }
  .column p {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    margin: 0 0 0 36px;
    font-size: 14px; }

.registration {
  height: 25em; }

.form_billboard {
  margin: 0px 60px;
  background: none repeat scroll 0 0 white;
  border: 8px solid #666666;
  padding: 25px;
  width: 300px;
  float: right;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
  .form_billboard h3 {
    font-size: 22px;
    text-align: center;
    color: #cc0000; }
  .form_billboard .field {
    margin: 10px; }
    .form_billboard .field input {
      width: 263px;
      margin: 5px 0px 5px 0; }
    .form_billboard .field label {
      font-weight: bold;
      color: #333333; }

#page2_h1 {
  text-align: center; }

.form2_billboard {
  margin: 20px 120px;
  background: none repeat scroll 0 0 white;
  border: 3px solid #666666;
  padding: 25px;
  width: 640px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
  .form2_billboard p {
    text-align: center;
    margin: 15px 0px 20px 0px;
    color: #376d00;
    font-size: 24px; }
  .form2_billboard h3 {
    font-size: 22px;
    text-align: center; }
  .form2_billboard .field {
    margin: 10px;
    padding: 0px 0px 0px 103px; }
    .form2_billboard .field input {
      width: 400px;
      margin: 5px 0px 5px 0; }
    .form2_billboard .field label {
      font-weight: bold;
      color: #333333; }
  .form2_billboard .actions {
    text-align: center; }
  .form2_billboard #user_description {
    width: 408px; }

.button.orange {
  background: -moz-linear-gradient(center bottom, #df6b1d, #faa02e) repeat scroll 0 0 transparent;
  border-color: #de8511;
  box-shadow: 1px 1px 0 #fac76e inset;
  color: white;
  text-shadow: 0 -1px 1px #bda07c;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  font-size: 23px;
  font-weight: bold;
  height: 47px;
  line-height: 40px;
  margin: 13px 0px 0px 25px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 252px; }

.quotes {
  float: left;
  margin: 0 0 0 70px;
  width: 350px; }
  .quotes h3 {
    color: #888888;
    font-size: 22px;
    font-style: italic;
    font-weight: 500;
    margin: 35px 0 10px;
    font-family: "minion-pro-1", "minion-pro-2", "Times New Roman", Georgia, serif; }
  .quotes p {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    font-size: 12px;
    margin: 0;
    color: #222222;
    text-align: center; }

/*----------------------------------------------------
 *page 3
 *---------------------------------------------------- */
/*----------------------------------------------------
 *FAQ
 *---------------------------------------------------- */
.faq_list dt {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 10px; }
.faq_list dd {
  margin: 0 50px 10px; }

/*----------------------------------------------------
 *Error messages
 *---------------------------------------------------- */
#error_explanation {
  border: 2px solid red;
  padding: 5px;
  -moz-border-radius: 4px;
  -khtml-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  #error_explanation h2 {
    color: red; }

.field_with_errors label {
  color: red !important; }

ul li.errors {
  color: #cc0000;
  margin: 0.1em 0 0 5%;
  list-style: square; }

.error, .alert, .notice, .success, .info {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd; }

.error, .alert {
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4; }

.notice {
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324; }

.success {
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880; }

.info {
  background: #d5edf8;
  color: #205791;
  border-color: #92cae4; }

.error a, .alert a {
  color: #8a1f11; }

.notice a {
  color: #514721; }

.success a {
  color: #264409; }

.info a {
  color: #205791; }

/*----------------------------------------------------
 * Footer
 *---------------------------------------------------- */
.footer {
  height: 25em; }

.footer {
  background-color: #262626;
  margin: 100px 0 0 0;
  padding: 0px 0 0 0;
  clear: both;
  overflow: hidden; }
  .footer nav.utility {
    text-align: center;
    margin: 0; }
    .footer nav.utility ul {
      padding: 0; }
    .footer nav.utility li {
      float: none;
      display: inline;
      margin: 0 10px 0 0; }
    .footer nav.utility a {
      color: white;
      font-weight: bold;
      font-size: 12px; }

.container_footer {
  overflow: hidden;
  width: 960px;
  #margin: 0 auto;
  padding: 20px 0; }

.copyright {
  padding: 15px;
  color: #cccccc;
  font-size: 10px;
  line-height: 1.4em;
  text-align: center; }
