/*----------------------------------------------------
 * Globals
 *---------------------------------------------------- */
/*----------------------------------------------------
 * Mixins
 *---------------------------------------------------- */
/*----------------------------------------------------
 * Header
 *---------------------------------------------------- */
.container_header {
  background: -moz-linear-gradient(center bottom, #005289 0pt, #242562 75%) repeat scroll 0 0 transparent;
  height: 140px; }

.header {
  padding: 15px 0px 10px;
  width: 980px; }

.tag_line {
  font-size: 24px;
  color: white;
  font-style: italic;
  margin: 0px 0px 0px 20px; }

/*----------------------------------------------------
 * Footer
 *---------------------------------------------------- */
.footer, .push {
  height: 18em; }

.footer {
  background-color: #262626;
  margin: 0 0 0 0;
  padding: 0px 0 0 0;
  clear: both;
  overflow: hidden; }
  .footer nav.utility {
    text-align: center;
    margin: 0; }
    .footer nav.utility li {
      float: none;
      display: inline;
      margin: 0 10px 0 0; }
    .footer nav.utility a {
      color: white;
      font-weight: bold;
      font-size: 12px; }

.container_footer {
  overflow: hidden;
  width: 940px;
  margin: 0 auto;
  padding: 20px 0; }

.copyright {
  padding: 15px;
  color: #cccccc;
  font-size: 10px;
  line-height: 1.4em;
  text-align: center; }
