%h1 FAQ
%dl.faq_list
  %dt
    How much does it cost?
    %dd
      The service has no cost. 
  %dt
    Am I going to be spammed with hundreds of quotes from dealers ?
    %dd
      Absolutely not, we won't share any of your data with any dealership. You will only get 1 e-mail from us with all your quotes, then
      you contact any dealer you choose on your terms.
  %dt
    What do I do with the quotes ?
    %dd
      Once you get the quotes you can see which dealers you'd like to contact, the price quoted will be the lowest price so you know exactly
      what you are paying and you can be confident this price is the lowest.
