.statement
  %h1 Join others, make dealerships compete & get the best deal on your new car.
.explanation
  .column
    %h3 1
    %h4 Join others
    %p We group similar local buyers together to increase the incentive for dealerships to present better offers. The more buyers in your area there are trying to buy the same car, the better the deal dealerships are willing to present to you.
  .column
    %h3 2
    %h4 Make dealerships compete
    %p Dealerships see what other dealerships are offering so they can compete to beat each other.

  .column
    %h3 3
    %h4 Get the best deal
    %p By combining this 2 strategies, we put the power back into the consumer, bringing market efficiency into the car industry. 

.registration
  .quotes
    %h3 ”Going to every dealer and bargaining for the best price was consuming all my weekends, with localcar.co they did all the work, and I got a great deal” 
    %p - Nadia Laurinci, founder of Media labs
    %h3 ”I love driving, but hate buying cars, localcar.co makes it dead easy to buy a new car”
    %p - Alex Torrenegra, founder of Voice123.com, the leading voice over talent site on the web.
  .form_billboard
    %h3 Make Dealerships compete NOW! 
    = render 'users/form'


