.statement
  %h1 Join others, make dealerships compete & get the best deal on your new car.
.explanation
  .column
    %h3 1
    %h4 Join others
    %p We group similar buyers together to increase the incentive for dealerships to present better offers. The more buyers in your area there are trying to buy the same car, the better the deal dealerships are willing to present to you.
  .column
    %h3 2
    %h4 Make dealerships compete
    %p Dealerships see what other dealerships are offering, so they will compete with each other so you get teh best deal.

  .column
    %h3 3
    %h4 Do it privately
    %p We don't share any of your information with dealerships. You will receive quotes directly from us, and you decide which dealer's to contact. 

.registration
  .quotes
    %h3 ”Going to every dealer and bargaining for the best price was consuming all my weekends, with getautodeal they did all the work, and I got a great deal” 
    %p - Nadia Laurinci, founder of Media labs
    %h3 ”I love driving, but hate buying cars, getautodeal makes it dead easy”
    %p - Alex Torrenegra, founder of Voices123.com
  .form_billboard
    %h3 Make dealerships compete now! 
    = render 'users/form'


