%footer.footer
  .container_footer
    %nav.utility
      %ul
        %li= link_to "Home", index_path
        %li= link_to "Contact us", contact_us_path
        %li= link_to "FAQ", faq_path
        %li= link_to "help", help_path

    -#=link_to logo, home_path, :class => "footer_logo"

    .copyright
      %p
        The names and logos for Getautodeal are registered trademarks of Getcardeal, LLC.
        %br/
        The names and logos for Getautodeal are trademarks of Getcardeal, LLC.
        %br/
        All text and design is copyright ©2010-2011 Getcardeal, LLC. All rights reserved.

