.container_header
  %header.header
    %h1
      =link_to image_tag("Logo.png", :tiltle=> "localcar.co!", :alt => "localcar.co", :width => 198, :height => 80), index_path, :class => "logo"
      %em.tag_line 
        The best price on your new car guaranteed!

       
