.container_header
  %header.header
    %h1
      =link_to image_tag("Logo.png", :tiltle=> "getautodeal!", :alt => "getautodeal", :width => 198, :height => 80), index_path, :class => "logo"
      %em.tag_line 
        Best price on new cars guaranteed

       
